# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
*.egg-info/

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example

# Ansible
*.retry

# OS
.DS_Store
Thumbs.db

# Models (si son muy grandes)
# models/*.pkl

# Logs
logs/
*.log

# Docker
docker-compose.override.yml
